@import url('https://fonts.googleapis.com/css?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina Sketch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: black;
}

.header {
    margin-left: 30%;
}

.border_left {
    top:10px;
    position: fixed;
    float: left;
    width: 25%;
    height: 97%;
}

.border_right {
    top:10px;
    float: right;
    position: fixed;
    margin-left: 74%;
    width: 25%;
    height: 97%;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Playfair Display';
    font-weight: bold;
    color: white;
}

p, button {
    font-family: 'Roboto';
    color: white;
}

